pkgbase = pyinstaller-hooks-contrib
	pkgdesc = Community maintained hooks for PyInstaller
	pkgver = 2024.6
	pkgrel = 1
	url = https://github.com/pyinstaller/pyinstaller-hooks-contrib
	arch = any
	license = Apache-2.0 OR GPL-2.0-only
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	source = pyinstaller-hooks-contrib-2024.6.tar.gz::https://github.com/pyinstaller/pyinstaller-hooks-contrib/archive/refs/tags/2024.6.tar.gz
	sha256sums = 8fb52063de79fed6bcd00fe570a57b11df6e814340d275b0b3333d5a48a69f50

pkgname = pyinstaller-hooks-contrib
